DB_NAME=blog_db
DB_USER=admin_user
DB_PASSWORD=super_secret_pass
DB_ROOT_PASSWORD=ultra_root_pass
APP_MEMORY=512M
DB_MEMORY=1G

# S3 Cloud Storage
S3_BUCKET=my-backups-bucket
S3_ACCESS_KEY=your_access_key
S3_SECRET_KEY=your_secret_key
S3_REGION=ru-central1
S3_ENDPOINT=https://storage.yandexcloud.net
